<!DOCTYPE html> <html class="set set-podd"> <head> <meta charset="utf-8" lang="en uk"> <meta name="viewport" content="width=device-width,initial-scale=1"> <title>Brand | meetHere</title> <link rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon.png"> <link rel="icon" type="image/png" href="./img/favicons/favicon-32x32.png" sizes="32x32"> <link rel="icon" type="image/png" href="./img/favicons/favicon-16x16.png" sizes="16x16"> <link rel="manifest" href="./img/favicons/manifest.json"> <link rel="mask-icon" href="http://ayazhafiz.com/meetHere/img/favicons/safari-pinned-tab.svg" color="#eb5757"> <link rel="shortcut icon" href="./img/favicons/favicon.ico"> <meta name="msapplication-config" content="./img/favicons/browserconfig.xml"> <meta name="theme-color" content="#ffffff"> <script src="https://use.fontawesome.com/f4adeaf9c5.js"></script> <link href="./Avenir/stylesheet.css" rel="stylesheet" type="text/css" media="all"> <link rel="stylesheet" type="text/css" href="./css/style.min.css"> <link rel="stylesheet" type="text/css" href="./css/molekule.min.css"> <link rel="stylesheet" type="text/css" href="./css/jquery.powertip-dark.min.css"> <script src="https://code.jquery.com/jquery-2.1.4.min.js" podsum="sha256-8WqyJLuWKRBVhxXIL1jBDD7SDxU936oZkCnxQbWwJVw="></script> <script src="./js/jquery.powertip.min.js"></script> <script src="./js/pageload.min.js"></script> </head> <body class="animsition"> <script>"https:"!=location.protocol&&(location.href="https:"+window.location.href.substring(window.location.protocol.length))</script> <div class="se-pre-con"> <div class="img-holder" style="position:absolute;top:42%;transform:translate(-50%,-50%) scale(.1);-webkit-transform:translate(-50%,-50%) scale(.1)"> <img src="./img/meetHere.svg" style="position:absolute;text-align:center;-webkit-animation:pulser 1s ease-in-out infinite;animation:pulser 1s ease-in-out infinite"> </div> </div> <div class="navbar hero"> <div class="col-80 top"> <a class="brand logo animsition-link" href="./" data-animsition-out-class="fade-out"> </a> </div> <div class="nav-links"> <a class="page-link animsition-link" href="./sign-up"> Sign Up</a> <span class="spacer"></span> <a id="open-modal" class="page-link" href="#" data-modal="#modal1"> Login</a> </div> </div> <div class="buffer"></div> <div class="intro"> <div class="unit unit-lg-rel low"> <div class="row"> <div class="intro-text"> We may be young, but we care about our <span class="highlight sky-highlight">appearance</span>. </div> </div> </div> </div> <div class="icon"> <div> <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="35%" viewBox="0 0 627.000000 994.000000" preserveAspectRatio="xMidYMid meet" style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-webkit-transform:translate(-50%,-50%)"> <metadata> Created by potrace 1.13, written by Peter Selinger 2001-2015 </metadata> <g class="icon-path" transform="translate(0.000000,994.000000) scale(0.100000,-0.100000)" stroke="none"> <path d="M2870 9520 c-41 -9 -124 -27 -185 -39 -215 -42 -253 -52 -311 -80
						-33 -16 -81 -34 -109 -40 -27 -7 -78 -25 -112 -41 -34 -17 -66 -30 -72 -30 -5
						0 -30 -13 -54 -30 -25 -16 -48 -30 -52 -30 -3 0 -23 -13 -43 -29 -20 -17 -48
						-36 -62 -43 -14 -7 -57 -35 -97 -61 -40 -26 -76 -47 -80 -47 -4 0 -21 -13 -38
						-28 -16 -15 -41 -35 -54 -45 -57 -39 -215 -186 -255 -237 -88 -111 -216 -287
						-216 -296 0 -10 -79 -124 -107 -153 -22 -24 -86 -148 -128 -249 -10 -23 -24
						-47 -32 -53 -7 -6 -13 -18 -13 -25 0 -8 -9 -33 -19 -57 -11 -23 -27 -64 -36
						-92 -9 -27 -23 -63 -30 -80 -26 -58 -54 -151 -70 -230 -9 -44 -24 -98 -32
						-120 -48 -128 -48 -1004 1 -1130 8 -22 15 -50 16 -62 0 -25 25 -109 41 -136 5
						-10 14 -41 19 -70 6 -29 19 -71 30 -94 11 -24 20 -47 20 -53 0 -23 171 -375
						212 -436 16 -23 28 -44 28 -48 0 -12 175 -249 213 -288 12 -13 35 -41 51 -62
						37 -50 161 -174 212 -212 21 -16 60 -50 87 -77 27 -26 88 -73 135 -104 93 -62
						298 -259 353 -339 19 -27 59 -83 90 -124 31 -41 66 -94 78 -118 12 -24 37 -63
						56 -88 19 -25 38 -57 41 -71 4 -14 49 -109 100 -212 52 -102 94 -192 94 -199
						0 -7 11 -34 24 -60 13 -26 27 -63 31 -82 4 -19 16 -53 25 -75 56 -127 71 -165
						84 -210 41 -140 51 -172 63 -195 7 -14 13 -39 13 -57 0 -32 20 -101 45 -158 7
						-16 16 -44 20 -62 3 -18 15 -51 26 -73 11 -23 24 -76 29 -118 5 -42 16 -90 24
						-107 9 -16 16 -40 16 -51 0 -12 9 -50 20 -84 11 -34 20 -80 20 -101 0 -21 12
						-74 26 -116 15 -43 30 -109 35 -148 4 -38 15 -83 23 -100 10 -19 16 -56 16
						-102 0 -40 6 -92 14 -115 28 -85 37 -124 46 -203 5 -44 14 -114 20 -155 6 -41
						15 -109 19 -150 9 -75 32 -194 51 -260 5 -19 10 -63 10 -98 0 -35 4 -82 9
						-105 6 -23 12 -54 16 -69 3 -16 12 -28 19 -28 14 0 17 21 35 225 5 55 11 107
						15 115 13 31 46 205 46 240 0 20 9 79 20 130 11 51 20 123 20 159 0 38 12 121
						29 196 58 253 71 320 71 360 0 22 10 74 21 115 12 41 37 149 55 239 19 91 45
						197 58 235 13 39 34 118 46 176 12 58 28 118 36 135 8 16 19 57 23 90 5 33 18
						76 28 95 11 19 25 57 32 85 7 27 16 54 21 60 4 5 13 35 18 66 6 31 20 73 31
						93 12 20 21 41 21 46 0 6 9 29 19 53 11 23 25 60 30 83 6 22 24 65 41 95 16
						30 30 60 30 68 0 30 232 473 301 576 41 61 81 123 89 139 15 31 375 398 420
						429 89 62 295 268 359 359 8 12 36 44 63 71 44 45 108 130 108 144 0 3 13 24
						28 47 15 22 35 58 45 78 10 21 33 58 52 83 19 25 35 47 35 50 0 3 12 24 27 48
						36 55 53 87 53 99 0 5 9 27 19 49 11 22 23 54 27 72 3 18 17 53 30 79 13 26
						24 52 24 58 0 6 9 29 19 53 30 64 51 134 51 167 0 16 7 51 16 76 38 113 54
						289 60 665 5 300 4 309 -21 435 -14 71 -34 154 -45 184 -10 30 -28 93 -40 140
						-11 47 -34 117 -51 155 -62 141 -173 361 -199 395 -15 19 -43 64 -61 100 -128
						247 -589 724 -816 845 -27 14 -77 43 -113 64 -112 68 -240 128 -357 167 -40
						14 -88 33 -106 42 -44 25 -94 39 -222 67 -60 13 -128 28 -150 33 -109 27 -177
						32 -446 31 -230 -1 -298 -5 -359 -19z m736 -659 c33 -10 75 -22 94 -26 19 -4
						53 -16 75 -26 22 -11 58 -22 80 -25 53 -8 453 -207 501 -250 22 -19 54 -42 73
						-51 77 -38 367 -352 427 -463 11 -19 40 -66 65 -105 46 -71 149 -274 149 -293
						0 -6 8 -26 19 -44 10 -19 28 -63 40 -98 13 -36 29 -79 37 -97 8 -17 14 -52 14
						-78 0 -26 9 -83 21 -127 19 -75 20 -102 16 -372 -5 -288 -15 -414 -35 -438 -5
						-7 -15 -39 -21 -72 -6 -32 -15 -64 -19 -70 -5 -6 -15 -33 -21 -61 -7 -27 -16
						-54 -21 -60 -4 -5 -11 -25 -15 -44 -9 -42 -95 -223 -130 -275 -14 -20 -25 -39
						-25 -42 0 -18 -162 -245 -209 -294 -31 -32 -74 -77 -96 -101 -84 -90 -235
						-218 -295 -251 -14 -7 -44 -26 -67 -41 -24 -15 -45 -27 -47 -27 -3 0 -22 -12
						-43 -26 -39 -26 -176 -94 -191 -94 -4 0 -27 -9 -50 -20 -22 -11 -45 -20 -50
						-20 -4 0 -27 -9 -50 -20 -22 -11 -72 -25 -109 -30 -138 -21 -180 -29 -258 -45
						-48 -10 -99 -14 -130 -11 -27 3 -124 10 -215 15 -91 5 -181 14 -200 20 -19 7
						-74 16 -121 21 -49 4 -104 17 -127 28 -23 11 -64 25 -92 32 -27 7 -53 16 -56
						21 -3 5 -13 9 -22 9 -22 0 -258 120 -320 163 -26 18 -59 38 -74 46 -15 8 -44
						30 -65 49 -21 19 -54 46 -73 61 -44 33 -207 196 -241 241 -15 19 -36 46 -48
						60 -25 27 -131 185 -131 194 0 3 -11 22 -25 42 -28 41 -135 257 -135 271 0 5
						-11 32 -25 59 -14 27 -25 58 -25 70 0 11 -8 50 -19 85 -58 200 -75 325 -75
						569 0 199 14 352 38 440 9 30 16 64 16 75 0 11 6 32 14 47 8 15 17 42 21 60
						13 56 44 149 69 202 13 28 30 67 37 86 7 19 24 53 38 75 14 22 38 65 54 95 16
						30 35 62 43 71 8 8 14 20 14 25 0 5 17 32 38 59 20 28 53 73 72 100 76 109
						271 286 430 390 25 16 61 42 80 57 40 31 231 128 252 128 8 0 18 4 24 9 15 15
						273 98 344 111 36 7 81 16 100 20 19 4 166 8 326 9 259 1 298 -1 350 -18z"></path> <path d="M2540 8184 c-83 -28 -108 -44 -175 -111 -44 -44 -79 -91 -102 -138
						-84 -168 -42 -366 109 -514 75 -75 126 -94 254 -99 165 -6 213 11 314 109 84
						82 97 102 124 192 14 45 17 81 14 160 -5 92 -9 109 -40 172 -39 78 -111 156
						-173 188 -56 28 -171 57 -230 56 -27 0 -70 -7 -95 -15z"></path> <path d="M3660 8184 c-85 -29 -109 -44 -184 -120 -78 -77 -93 -101 -122 -192
						-27 -87 -2 -274 47 -347 45 -66 126 -143 184 -174 47 -24 58 -26 185 -26 127
						0 138 2 186 27 55 29 194 161 194 184 0 8 10 36 23 62 18 39 22 64 22 152 0
						58 -6 123 -12 146 -15 47 -63 125 -107 172 -98 105 -290 158 -416 116z"></path> <path d="M2545 7244 c-121 -26 -173 -48 -292 -127 -81 -53 -249 -215 -290
						-280 -72 -112 -126 -236 -148 -337 -4 -19 -16 -53 -26 -75 -36 -81 -67 -249
						-86 -477 l-5 -68 900 0 c653 0 914 3 951 12 l51 11 0 135 c0 127 -20 282 -40
						307 -5 6 -15 39 -24 75 -22 89 -123 318 -170 385 -97 138 -213 263 -291 314
						-63 40 -139 80 -153 81 -8 0 -28 7 -45 14 -95 44 -218 55 -332 30z"></path> <path d="M3630 7234 c-162 -42 -290 -118 -290 -173 0 -15 25 -59 40 -71 12 -9
						90 -127 90 -135 0 -5 6 -16 14 -24 60 -70 215 -453 216 -534 1 -17 14 -57 30
						-87 29 -53 30 -60 30 -182 l0 -128 481 0 481 0 -6 103 c-11 187 -35 344 -61
						394 -8 16 -15 33 -15 40 0 48 -99 263 -168 368 -63 94 -139 194 -176 229 -68
						64 -208 156 -238 156 -4 0 -27 9 -51 20 -53 24 -178 50 -237 49 -25 0 -88 -12
						-140 -25z"></path> </g> </svg> </div> </div> <div class="intro" style="font-size:1.5em;padding-top:3em;margin:auto;margin-bottom:100px;width:95%"> <div class="unit" style="width:600px;max-width:80%;text-align:center;position:relative;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%)"> <div class="row"> <div class="intro-text"> We're excited that you want to explore and use our brand.<span class="hidden-mobile"> That's why we've made a style guide as a <span class="highlight theme-highlight">template</span> for your use case.</span><span class="hidden-desktop"> Check out our <span class="highlight theme-highlight">templates</span>.</span> </div> </div> <div class="button-left brand" onclick='window.open("./style-guide/style-guide_brand.pdf","_blank")'>Download style guide</div> </div> </div> <style>.palette{margin:auto;width:800px;max-width:95%}.palette .primary-color{display:inline-block;background:#EB5757;width:51%;padding-bottom:51%}.palette .secondary-colors{display:inline-block;background:0 0;width:17%}.palette .l-color{background:#ED6969;width:100%;padding-bottom:100%}.palette .l-color:nth-child(2){background:#EF7A7A;width:100%;padding-bottom:100%}.palette .l-color:nth-child(3){background:#F5AFAF;width:100%;padding-bottom:100%}.palette .s-color{background:#F6E7E1;width:100%;padding-bottom:100%}.palette .s-color:nth-child(2){background:#F0DAC5;width:100%;padding-bottom:100%}.palette .s-color:nth-child(3){background:#91DCE8;width:100%;padding-bottom:100%}.palette .tertiary-colors{display:inline-block;background:0 0;width:10.203%}.palette .bw-color{background:#000;width:100%;padding-bottom:100%}.palette .bw-color:nth-child(2){background:#4F4F4F;width:100%;padding-bottom:100%}.palette .bw-color:nth-child(3){background:#A0A0A0;width:100%;padding-bottom:100%}.palette .bw-color:nth-child(4){background:#E9E6E3;width:100%;padding-bottom:100%}.palette .bw-color:nth-child(5){background:#FFF;width:100%;padding-bottom:100%}.palette .shown-color{cursor:pointer}</style> <div class="palette"> <div style="text-align:center"> <div id="c-EB5757" class="primary-color shown-color"></div><div class="secondary-colors"> <div id="c-ED6969" class="l-color shown-color"></div><div id="c-EF7A7A" class="l-color shown-color"></div><div id="c-F5AFAF" class="l-color shown-color"></div> </div><div class="tertiary-colors"><div id="c-000" class="bw-color shown-color"></div><div id="c-4F4F4F" class="bw-color shown-color"></div><div id="c-A0A0A0" class="bw-color shown-color"></div><div id="c-E9E6E3" class="bw-color shown-color"></div><div id="c-FFF" class="bw-color shown-color"></div> </div><div style="display:inline-block;width:4.8%"></div><div class="secondary-colors"> <div id="c-F6E7E1" class="s-color shown-color"></div><div id="c-F0DAC5" class="s-color shown-color"></div><div id="c-91DCE8" class="s-color shown-color"></div> </div> </div> </div> <div class="intro" style="font-size:1.5em;padding-top:3em;margin:auto;margin-bottom:100px;width:95%"> <div class="unit" style="width:600px;max-width:80%;text-align:center;position:relative;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%)"> <div class="row"> <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> <div class="intro-text"> We use an extended version of our own <span style="font-family:Quicksand;color:#A0A0A0">Pux</span> palette, inspired by Wing and pastel. Feel free to click + copy off the chart above! </div> </div> </div> </div> <div class="font-container"> <div style="text-align:center;font-size:25vmin"> <span style="font-family:Avenir">A<span style="font-weight:200"><i>ven</i></span>ir</span> </div> </div> <div id="font" class="intro" style="font-size:1.5em;padding-top:3em;margin:auto;margin-bottom:50px;width:95%"> <div class="unit" style="width:600px;max-width:80%;text-align:center;position:relative;left:50%;transform:translateX(-50%);-webkit-transform:translateX(-50%)"> <div class="row"> <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> <div class="intro-text"> meetHere uses <span style="font-family:Avenir">Avenir</span>, <span style="font-family:Avenir"><b>Avenir Medium</b></span>, and <span style="font-weight:200"><i>Avenir Oblique</i></span> as its primary fonts. Go open source! </div> </div> <br> <br> <div style="font-size:.75em">Want to learn anything else about our brand? <a href="./contact" class="page-link help footer">Contact</a> us!</div> </div> </div> <div id="footer" class="footer-parent" style="padding-bottom:2.5em"> <div class="footer-left"> &copy; meetHere<span class="hidden-mobile"> 2017</span><span class="hidden-desktop" style="line-height:1.5em"> '17</span> <a href="#" class="page-link help footer mleft hidden-mobile terms">Terms</a> <a class="page-link help footer mleft hidden-mobile status" style="cursor:pointer">Status</a> <a href="./help" class="page-link help footer mleft hidden-mobile help-f">Help</a> </div> <div class="footer-right"> <a href="#" class="page-link help footer mleft hidden-desktop terms">Terms</a> <a class="page-link help footer mleft hidden-desktop status" style="cursor:pointer">Status</a> <a href="./help" class="page-link help footer mleft hidden-desktop help-f" style="margin-right:1em">Help</a> <a href="./brand" class="page-link help footer brand-f">Brand</a> <a href="./contact" class="page-link help footer mleft contact">Contact</a> <a href="./about" class="page-link help footer mleft about">About</a> </div> </div> <div class="modal" id="modal1"> <div class="content" style="padding:0;margin:0"> <input id="login-username" class="mo" placeholder="username" type="name" autocorrect="false" spellcheck="false" style="margin-bottom:10px;margin:none"> <br> <input id="login-password" class="mo" placeholder="password" type="password" autocorrect="false" spellcheck="false" style="margin:none;margin-bottom:0"> <br> <div id="login-status" class="" style="height:60px;line-height:60px;font-size:1.375em;padding:0;margin:0;vertical-align:middle;opacity:0"></div> <button id="login-note-button" class="btn material-button close-modal animsition-link disabled" data-modal="#modal1" href="#">Login</button> </div> </div> <script src="./js/meetHere.min.js"></script> <script src="./js/tooltip.min.js"></script> <script src="https://cdn.jsdelivr.net/clipboard.js/1.5.16/clipboard.min.js"></script> <script> $('#c-EB5757').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-EB5757').data('powertip', '#EB5757');
			$('#c-ED6969').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-ED6969').data('powertip', '#ED6969');
			$('#c-EF7A7A').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-EF7A7A').data('powertip', '#EF7A7A');
			$('#c-F5AFAF').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-F5AFAF').data('powertip', '#F5AFAF');
			$('#c-000').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-000').data('powertip', '#000');
			$('#c-4F4F4F').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-4F4F4F').data('powertip', '#4F4F4F');
			$('#c-A0A0A0').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-A0A0A0').data('powertip', '#A0A0A0');
			$('#c-E9E6E3').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-E9E6E3').data('powertip', '#E9E6E3');
			$('#c-FFF').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-FFF').data('powertip', '#FFF');
			$('#c-F6E7E1').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-F6E7E1').data('powertip', '#F6E7E1');
			$('#c-F0DAC5').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-F0DAC5').data('powertip', '#F0DAC5');
			$('#c-91DCE8').powerTip({
				followMouse: true,
				fadeInTime: 0,
				fadeOutTime: 0,
				closeDelay: 0
			}); $('#c-91DCE8').data('powertip', '#91DCE8');
			
			let clip = new Clipboard('.shown-color', {
				text: trigger => {
					return '#' + trigger.getAttribute('id').substring(2);
				}
			});
			
			// lets make a footer that auto-to-bottom(s) if other content > window height
			if (($('#font').position().top + $('#font').outerHeight() - window.innerHeight) <= 0)
				$('#footer').css('position', 'absolute').css('top', window.innerHeight + 'px'); </script> </body> </html>